<!-- INCLUDE overall_header.html -->

<form action="{U_ACTION}" method="post">

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th colspan="2">{AL_LOGIN_HEADER}</th>
</tr>
<tr>
	
	<td class="row1">
	
		<table align="center" cellspacing="1" cellpadding="4" style="width: 100%;">
		
		
		<tr>
			
			<td>{S_LOGGED_IN_MESSAGE}</td>
		</tr>

		<!-- IF S_AUTOLOGIN_ENABLED -->
			<tr>
				
				<td><input type="checkbox" class="radio" name="autologin" tabindex="3" /> <span class="gensmall">{L_LOG_ME_IN}</span></td>
			</tr>
		<!-- ENDIF -->
			<tr>
				
				<td><input type="checkbox" class="radio" name="viewonline" tabindex="4" /> <span class="gensmall">{L_HIDE_ME}</span></td>
			</tr>
			<tr>
				
				<td><hr /><input type="checkbox" class="radio" name="dontask" tabindex="4" /> <span class="gensmall">{L_DONT_ASK}</span></td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input type="submit" name="submit" class="btnmain" value="{L_LOGIN}" tabindex="5" /></td>
</tr>

</table>
{S_FORM_TOKEN}

</form>

<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<br clear="all" />

<div align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->