/******************************* Font *******************************/
@font-face {font-family:'supermarketRegular';
src:url('../f0nt/supermarket-webfont.eot');
src:url('../f0nt/supermarket-webfont.eot?#iefix')format('embedded-opentype'),
url('../f0nt/supermarket-webfont.woff')format('woff'),
url('../f0nt/supermarket-webfont.ttf')format('truetype');
font-weight:normal;font-style:normal;}

body {background-color: #2554C7;}

/*===============================================
=================     Home     ==================
=================================================*/
#PR div {font:bold 18px 'supermarketRegular';}

/*===============================================
=================     Login    ==================
=================================================*/
.form_login { height: 500px ;width: 100%; background-color: #000000; float: right; margin-top: 50px}
.form_login label {font: normal 16px 'supermarketRegular'}
.form_login h3 {font-family: 'supermarketRegular'}
